{
    "*.php": [
      "php ./vendor/bin/php-cs-fixer fix --config .php_cs"
    ],
     "resources/**/*.{css,js}": [
        "prettier --write"
     ],
     "resources/**/*.js": [
          "./node_modules/.bin/eslint --fix"
      ],
    "composer.json": [
      "composer validate",
      "php ./vendor/bin/security-checker security:check"
    ]
}
