{
    "*.php": [
        "./vendor/bin/php-cs-fixer fix --config .php_cs",
        "./vendor/bin/phpstan analyse"
    ],
    "*.{png,jpeg,jpg,gif,svg}": [
        "imagemin-lint-staged"
    ],
     "resources/**/*.scss": [
         "stylelint --syntax=scss --fix"
     ],
     "resources/**/*.{css,scss,js,vue}": [
        "prettier --write"
     ],
    "resources/**/*.{js,vue}": [
        "./node_modules/.bin/eslint --fix"
    ],
    "composer.json": [
        "composer validate",
        "./vendor/bin/security-checker security:check"
    ]
}
