{
    "*.php": [
        "./vendor/bin/php-cs-fixer fix --config .php_cs",
        "./vendor/bin/phpstan analyse"
    ],
    "resources/**/*.scss": [
         "stylelint --syntax=scss --fix"
    ],
    "composer.json": [
        "composer validate",
        "./vendor/bin/security-checker security:check"
    ]
}
