includes:
	- ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    excludes_analyse:
            - %rootDir%/../../../database/*/*.php
    ignoreErrors:
        - '#Access to an undefined property App\\Nova\\[a-zA-Z0-9\\_]+::\$[a-zA-Z0-9\\_]+\.#'
    universalObjectCratesClasses:
        - Laravel\Nova\Fields\ActionFields
